*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.main{
  width: 960px;
  margin:50px auto;
}

.list{
 margin-bottom: 50px;
  
}

.list-text{
  padding: 20px;
  
  list-style: none;
}

.list-text:nth-child(odd){
  background-color: #eee;
}

.box-content{
  display: flex;
  flex-wrap: wrap;
}

.box-color{
  width: 30%;
  height: 200px;
  background-color: yellow;
  margin-bottom: 40px;
  margin-right: 5%;
}

.box-color:first-child,
.box-color:nth-child(5),
.box-color:last-child {
  background-color: orange;
}

.box-color:nth-child(3n){
  margin-right: 0;
}

.box-color:nth-last-child(-n+3){
  margin-bottom: 0;
}

